use flake ./nix/dev

# Extraction automatique de la chaîne de connexion PostgreSQL via SOPS pour OpenTofu (Tailscale)
if [ -f secrets/ecaz.yaml ] && command -v sops >/dev/null 2>&1; then
  POSTGRES_PASS=$(sops -d --extract '["postgres-opentofu-password"]' secrets/ecaz.yaml 2>/dev/null)
  if [ -n "$POSTGRES_PASS" ]; then
    export PG_CONN_STR="postgres://opentofu:${POSTGRES_PASS}@ecaz.taila562f9.ts.net:5432/opentofu?sslmode=require"
  fi
fi

# Extraction automatique des identifiants OAuth, Contact Email & Webhook Discord Tailscale via SOPS pour OpenTofu
if [ -f secrets/tailscale.yaml ] && command -v sops >/dev/null 2>&1; then
  export TAILSCALE_OAUTH_CLIENT_ID=$(sops -d --extract '["tailscale-oauth-client-id"]' secrets/tailscale.yaml 2>/dev/null)
  export TAILSCALE_OAUTH_CLIENT_SECRET=$(sops -d --extract '["tailscale-oauth-client-secret"]' secrets/tailscale.yaml 2>/dev/null)
  export TF_VAR_discord_webhook_url=$(sops -d --extract '["tailscale-discord-webhook-url"]' secrets/tailscale.yaml 2>/dev/null)
  export TF_VAR_tailscale_contact_email=$(sops -d --extract '["tailscale-contact-email"]' secrets/tailscale.yaml 2>/dev/null)
fi
