# Nix / NixOS
result
result-*

# Secrets
.sops.yaml.tmp
*.age
keys.txt
secrets.decrypted.yaml

# Home Manager
*.hm-backup

# direnv
.direnv/

# darwin
.DS_Store
.AppleDouble
.LSOverride

# Editeurs
.vscode/
*.swp

# OpenTofu / Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfstate.lock.info

