name: "Nix CI"
on:
  push:
    branches: [ main ]
  pull_request:

permissions:
  id-token: "write"
  contents: "read"

jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@v14
      - name: Check formatting
        run: nix fmt -- --check .

  evaluation:
    needs: linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@v14
      - uses: DeterminateSystems/magic-nix-cache-action@v8
        with:
          use-flakehub: false

      - name: Evaluate NixOS (ix)
        run: nix eval .#nixosConfigurations.ix.config.system.build.toplevel.drvPath

      - name: Evaluate Darwin (caladan)
        run: nix eval .#darwinConfigurations.caladan.system.drvPath

      - name: Dry-run Build
        run: nix build .#nixosConfigurations.ix.config.system.build.toplevel --dry-run
