name: Nix Flake CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  check:
    runs-on: ubuntu-latest
    permissions:
      id-token: "write"
      contents: "read"
    steps:
      - uses: actions/checkout@v4

      - uses: DeterminateSystems/nix-installer-action@v16
        with:
            source-url: "https://install.lix.systems/lix/lix-installer-x86_64-linux"  # Optionnel: utilise Lix (plus rapide) ou enlever pour Nix standard

      - uses: DeterminateSystems/magic-nix-cache-action@v8

      - name: Nix Flake Check
        run: nix flake check

      - name: Build default package
        run: nix build
